---
import { LaboralExperience } from "../../constants/constants.ts";
---

<section class="flex flex-col px-12 smaller:px-5 pt-16 max-w-limit">
    <div
        class="flex gap-7 justify-start w-full items-center tiny:justify-center"
    >
        <h2
            class="text-4xl font-bold dark:text-secondary-dark text-secondary-light"
        >
            Experience
        </h2>
        <div
            class="flex-grow h-[1px] bg-neon/40 shadow-basic dark:shadow-javascript shadow-html tiny:hidden"
        >
        </div>
    </div>
    <section
        id="pro"
        class="flex flex-wrap gap-12 justify-center items-center p-12 smaller:px-1 overflow-x-hidden"
    >
        {
            LaboralExperience.map((el) => (
                <div class="flex flex-col gap-4 items-center">
                    <h3 class="text-2xl font-bold dark:text-secondary-dark text-secondary-light">
                        {el.company}
                    </h3>
                    <p class="text-lg dark:text-secondary-dark text-secondary-light">
                        {el.title}
                    </p>
                    <p class="text-lg dark:text-secondary-dark text-secondary-light">
                        from {el.startDate} to {el.endDate}
                    </p>
                    <p class="text-lg dark:text-secondary-dark text-secondary-light">
                        {el.description}
                    </p>
                </div>
            ))
        }
    </section>
</section>
